/conf/settings.inc.php
/conf/log_rotate.conf
/conf/cron
/bin/updateDuplicity.sh
/bin/updateNetsvc2.sh
/bin/macfinder.pl
/bin/netupdate.sh
/vendor
/html/vendor
composer.lock
/log/*
!/log/.gitkeep
switch_configs