<?php
////////////////////////////////////
//
//	settings.inc.php
//
//	Settings for the scripts.
//
//	David Slater
//	May 2009
//
////////////////////////////////////

define("__TITLE__","");
define("__FOOTER__","");
define("__SESSION_NAME__","netinfo");
define("__SESSION_TIMEOUT__",3600);
define("__COUNT__",30);
define("__TIMEZONE__","America/Chicago");
//////////Mysql Settings//////////////
define("__MYSQL_HOST__","");
define("__MYSQL_USER__","");
define("__MYSQL_PASSWORD__","");
define("__MYSQL_DATABASE__","");

//////////Authentication Settings///////////////
define("__LDAP_HOST__","");
define("__LDAP_BASE_DN__","");
define("__LDAP_PEOPLE_OU__","");
define("__LDAP_GROUP_OU__","");
define("__LDAP_GROUP__","");
define("__LDAP_BIND_USER__","");
define("__LDAP_BIND_PASS__","");
define("__LDAP_SSL__",FALSE);
define("__LDAP_PORT__",389);

?>
